{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}


    <h1>Gérer les utilisateurs</h1>

    <div class="row">
      <div class="col-md-8">
        <table id="user" class="table table-stripped">
          <thead>
            <tr>
              <th>Nom de l'utilisateur</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  {{ user.username }}
                </td>
                <td>
                  <a href="{{ path ('adminEdit_user', {id: user.id}) }}" class="btn btn-primary">Modifier</a>
                  <a href="{{ path ('adminDelete_user', {id:user.id}) }}" class="btn btn-danger delete-user" data-id="{{user.id}}">Supprimer</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <h1>Ajouter un utilisateur</h1>
        <a href="{{ path ('adminCreate_user') }}" class="btn btn-primary">Créer un utilisateur</a>
      </div>
    </div>


{% endblock %}
{% block javascripts %}
<script src="/js/main.js" type="text/javascript">

</script>
{% endblock %}
