{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post">

    {% if app.user %}
        <div class="checkbox mb-3">Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Se déconnecter</a>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <label for="inputUsername" class="sr-only">Nom</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
    <h3>Vous n'êtes pas inscrit?
      <a href="{{ path('registration') }}">Cliquez ici</a>
    </h3>
</form>
{% endblock %}
